h2{
    text-align: center;
    color: rgb(63, 81, 181);
    font-size: x-large;
    padding-top: 100px;
}

h3{
    text-align: center;
    color: rgb(52, 71, 182);
    font-weight: bold;
    font-size: x-large;
    padding-top: 50px;
}

.select{
    text-align: center;
    margin-top: 50px;
}