<h2>Découvrez nos véhicules !</h2>

<div class="select">
  <mat-form-field  class="input-width" appearance="fill">
    <label>Catégories de véhicules</label>
    <mat-select [(ngModel)]="selector" (selectionChange)="loadVehicules($event)">
      <mat-option *ngFor="let val of typeVehicule" [value]="val">{{ val }}</mat-option>
    </mat-select>
  </mat-form-field>

    <div *ngIf="voitures && selector === 'Voiture'">
      <h3>Voitures</h3>
      <mat-card class="product-card" *ngFor="let voiture of voitures">
        <img style="max-width: 180px; margin-bottom: 10px;" src="{{getVoiturePhoto(voiture)}}" alt="">
        <mat-card-content>
          <mat-chip-list aria-label="">
            <mat-chip class="chip" *ngIf="voiture.status">
              Disponible</mat-chip>
            <mat-chip class="chip" *ngIf="!voiture.status" color="warn" selected>
              Indisponible</mat-chip>
          </mat-chip-list>
          <p>MARQUE : {{ voiture.marque.name }}</p>
          <p>OBSERVATION : {{ voiture.observation }}</p>
          <button mat-raised-button color="primary" (click)="changeStatus(voiture)" type="button">Réserver</button>
        </mat-card-content>
      </mat-card>
    </div>

  <div *ngIf="motos && selector === 'Moto'">
    <h3>Motos</h3>
    <mat-card class="product-card" *ngFor="let moto of motos">
      <span style="font-size: 120px;" class="material-icons">two_wheeler</span>
      <mat-card-content>
        <p>MARQUE : {{ moto.marque.name }}</p>
        <p>OBSERVATION : {{ moto.renseignement }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="bateaux && selector === 'Bateau'">
    <h3>Bateaux</h3>
    <mat-card class="product-card" *ngFor="let bateau of bateaux">
      <span style="font-size: 120px;" class="material-icons">directions_boat</span>
      <mat-card-content>
        <p>MARQUE : {{ bateau.marque.name }}</p>
        <p>OBSERVATION : {{ bateau.renseignement }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="camions && selector === 'Camion'">
    <h3>Camions</h3>
    <mat-card class="product-card" *ngFor="let camion of camions">
      <span style="font-size: 120px;" class="material-icons">airport_shuttle</span>
      <mat-card-content>
        <p>MARQUE : {{ camion.marque.name }}</p>
        <p>OBSERVATION : {{ camion.renseignement }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
