
<!-- Vue du formulaire d'inscription -->

<form [formGroup]="form" (submit)="submit(form.value)">

    <mat-form-field appearance="fill">
        <input matInput placeholder="Votre nom" formControlName="lastName">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Votre prénom" formControlName="firstName">
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
        <input matInput placeholder="pat@example.com" formControlName="email" required>
    </mat-form-field>

    <br>

    <div class='pass' *ngIf="!user">
        <mat-form-field appearance="fill">
            <mat-label>Entrez votre mot de passe</mat-label>
            <input formControlName="password" matInput type="password">
        </mat-form-field>
    </div>

    <br>

    <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Valider</button>
        <button mat-raised-button type="reset" (click)="onReset()">Initialiser</button>
    </div>


   
</form>
