<h1>ADMIN SITE D'ANNONCES DE VEHICULES</h1>

<div id="boutons" class="boutonsForms">
    <a mat-raised-button routerLink="/admin">Voiture</a>
    <a mat-raised-button routerLink="/admin/moto">Moto</a>
    <a mat-raised-button routerLink="/admin/bateau">Bateau</a>
    <a mat-raised-button routerLink="/admin/camion">Camion</a>
    <a mat-raised-button routerLink="/admin/marque">Marques</a>
    <a mat-raised-button routerLink="/admin/couleur">Couleurs</a>
    <a mat-raised-button routerLink="/admin/user">Utilisateurs</a>
    <a mat-raised-button color="warn" routerLink="/logout">Deconnexion</a>
</div>
<router-outlet></router-outlet>

