#boutons {
    text-align: center;
    margin-top: 50px;
}

.boutonsForms button,
.boutonsForms a {
    margin-left: 20px;
    margin-right: 20px;
}

.background {
  background: rgb(151,170,193);
  background: radial-gradient(circle, rgba(151,170,193,0.8715861344537815) 53%, rgba(235,245,247,0.8155637254901961) 100%);
}
