<h1>BIENVENUE SUR MON SUPER SITE D'ANNONCES DE VEHICULES</h1>

<div id="boutons" class="boutonsForms">
    <a mat-raised-button routerLink="/in">Voiture</a>
    <a mat-raised-button routerLink="/in/moto">Moto</a>
    <a mat-raised-button routerLink="/in/bateau">Bateau</a>
    <a mat-raised-button routerLink="/in/camion">Camion</a>
    <a mat-raised-button routerLink="/in/marque">Marques</a>
    <a mat-raised-button routerLink="/in/user">Utilisateurs</a>
    <a mat-raised-button color="warn" routerLink="/logout">Deconnexion</a>  

  <router-outlet>

  </router-outlet>
</div>