h3 {
  text-align: center;
  font-weight: bold;
}

form{
  text-align: center;
  margin-top: 100px;
}
.pass .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-right-align {
    text-align: right;
  }

  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
