<form [formGroup]="form" (ngSubmit)="submit(form.value)" #truckForm="ngForm">

    <h3>CAMION</h3>

    <app-field-marque category="Camion" [formGroup]="form" controlName="marqueId"></app-field-marque>

    <br>

    <mat-form-field>
        <mat-select formControlName="genre" placeholder="Sélectionnez le genre">
            <mat-option *ngFor="let genre of genres" [value]="genre.value">
                {{genre.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-select formControlName="poids" placeholder="Sélectionnez le PTAC">
            <mat-option *ngFor="let poids of poids" [value]="poids.value">
                {{poids.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>
    
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Saisissez une date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
   
    <br>

    <mat-form-field>
        <textarea matInput id="renseignement" formControlName="renseignement" 
            placeholder="Demande de renseignements">
        </textarea>
    </mat-form-field>

    <br>
    
    <mat-form-field>
        <input matInput placeholder="Entrez votre email" formControlName="email" required>
    </mat-form-field>

    <br>

    <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Valider</button>
        <button mat-raised-button type="reset" (click)="onReset()">Initialiser</button>

    </div>

    <br>

</form>

<table #myTable mat-table [dataSource]="liste" class="mat-elevation-z8">

    <ng-container matColumnDef="marque">
        <th mat-header-cell *matHeaderCellDef> Marque </th>
        <td mat-cell *matCellDef="let l"> {{l.marque.name}}  </td>
    </ng-container>
    
    <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef> Genre </th>
        <td mat-cell *matCellDef="let l"> {{getGenre(l)}} </td>
    </ng-container>
    
    <ng-container matColumnDef="poids">
        <th mat-header-cell *matHeaderCellDef> PTAC </th>
        <td mat-cell *matCellDef="let l"> {{getPoids(l)}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let l"> {{l.date | date:"EEEE dd MMMM yyyy"}} </td>
    </ng-container>

    <ng-container matColumnDef="renseignement">
        <th mat-header-cell *matHeaderCellDef> Renseignement </th>
        <td mat-cell *matCellDef="let l"> {{l.renseignement}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let l">{{l.email}} </td>
    </ng-container>
    
    <ng-container matColumnDef="option1">
        <th mat-header-cell *matHeaderCellDef> Option </th>
        <td mat-cell *matCellDef="let l"> 
            <button mat-raised-button color="primary" (click)="modifier(l.id)" type="button">Modifier</button>
        </td>
    </ng-container>

    <ng-container matColumnDef="option2">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let l"> 
            <button mat-raised-button color="primary" (click)="supprimer(l.id)" type="button">Supprimer</button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

</table>
